// color variables
$color-primary: #0881a3;
$color-primary-bright: #84d2e8;
$color-primary-dark: #125067;

$color-secondary: #adadad;
$color-secondary-bright: #f7f7f7;
$color-secondary-dark: #363636;

$color-text: #111111;
$color-text-bright: #33373d;

$color-invalid: #dd1c1a;

// font weight variables
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 800;

$font-small: 0.85rem;

$font-family: Montserrat, sans-serif;
