// color variables
// this is slightly modified from the current figma palette,
// might add or change some colors later on
$color-primary: #0881a3;
$color-primary-bright: #84d2e8;
$color-primary-dark: #125067;

$color-secondary: #adadad;
$color-secondary-bright: #f7f7f7;
$color-secondary-dark: #363636;

$color-text: #111111;
$color-text-bright: #33373d;

// font weight variables
// NOTE: not sure how useful this will be,
// but it can't hurt to have it here
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 800;

// conversion to pixels
@use "sass:math";

@function em($pixels, $context: 16) {
  @return #{math.div($pixels, $context)}rem;
}
