@import "../../sass_utilities/variables";

.messageInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;

  &__textInput {
    resize: none;
    width: 85%;
    background-color: $color-secondary-bright;
    border-radius: 17px;
    padding: 0.4rem 0.9rem;
    font-size: 1rem;
    font-family: $font-family;
    border: none;
    flex: 1;
    margin-right: 1rem;

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__buttonSend {
    width: 8%;
    height: auto;
    background-color: transparent;
  }

  &__sendIcon {
    width: 100%;
    max-width: 1.75rem;
    height: auto;
    color: $color-primary;
  }
}
