@import "../../sass_utilities/variables";

// TODO: clean this up

.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  min-height: 4.7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  background-color: $color-secondary-bright;
}

.link {
  height: 100%;
}

.heading {
  font-size: 1.4rem;
  font-weight: $font-semibold;
  margin: 0 0.3rem;
  height: 100%;
}

.requestListContainer {
  max-width: 30rem;
}

.friendInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  margin: 1rem 0 0 0;
}

.button {
  background-color: transparent;
  border: none;
  color: $color-primary;
  margin: 0 0.6rem;
  height: 100%;
  cursor: pointer;

  &Options {
    margin-right: 0;
  }

  &Back {
    display: flex;
    align-items: center;
  }

  &Icon {
    &__newChat {
      height: 1.65rem;
    }

    &__options {
      height: 1.7rem;
    }

    &__back {
      margin: 0 0.3rem;
      height: 1.65rem;
    }

    width: auto;
  }
}

.requestList {
  list-style-type: none;
  padding: 0 1rem;

  &__item {
    display: flex;
    justify-content: flex-start;

    margin-bottom: 1rem;
  }

  &__leftContainer {
    display: flex;
  }

  &__imageContainer {
    display: flex;
    align-items: center;
  }

  &__img {
    height: 4rem;
    width: auto;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__username {
    margin-bottom: 0.5rem;
  }
}

.requestActions {
  &__button {
    background-color: $color-primary;
    border: none;
    color: $color-text-bright;
    font-weight: $font-semibold;
    color: $color-secondary-bright;
    padding: 0.3rem 1rem;
    border-radius: 999px;
    align-self: center;
    cursor: pointer;

    &Accept {
      margin-right: 0.8rem;
    }

    &Decline {
      background-color: $color-secondary-bright;
      color: $color-text;
    }
  }
}

.alert {
  font-weight: $font-semibold;
  margin: 0;

  &Valid {
    color: $color-success;
  }

  &Invalid {
    color: $color-invalid;
  }
}
