.container {
  display: flex;
  height: 100vh;
  width: 100vw;

  font-family: Montserrat, sans-serif;
}

.side,
.main {
  height: 100vh;
}

.side {
  box-sizing: border-box;
  width: 30%;
  border-right: 1px solid #eee;
}

.main {
  position: relative;
  box-sizing: border-box;
  width: 70%;
}

.chatPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
