@import "../sass_utilities/variables";

.pageContainer {
  height: 100vh;
  width: 100vw;
}

.contactsContainer {
  width: 100%;
}

.headingContainer {
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.heading {
  font-size: 2rem;
  font-weight: $font-semibold;
  justify-self: flex-start;
}

.button {
  justify-self: flex-end;
  height: 100%;
  background-color: transparent;
  border: none;
  color: $color-primary;

  &Icon {
    &__newChat {
      margin: 0 0.3rem;
      height: 45%;
    }

    &__options {
      margin: 0 0.7rem;
      height: 40%;
    }

    width: auto;
  }
}

.contact {
  height: 7rem;
  max-width: 100%;
  display: flex;

  &__imageContainer {
    height: inherit;
    display: flex;
    align-items: center;
  }

  &__img {
    height: 70%;
    border-radius: 100%;
    padding: 1rem;
  }

  &__mainContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__left {
    align-self: center;
  }

  &__right {
    padding: 1.5rem 1rem;
  }

  &__name {
    margin: 0;
    font-size: 1.2rem;
  }

  &__message {
    margin: 0;
  }

  &__time {
    font-style: italic;
    font-size: $font-small;
  }
}
