@import "../sass_utilities/variables";

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contactsContainer {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.headingContainer {
}

.buttonsContainer {
}

.leftSideContainer {
  display: flex;
  align-items: center;
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: $color-secondary-bright;
}

.heading {
  font-size: 2rem;
  font-weight: $font-semibold;
  margin: 0 1rem;
}

.button {
  background-color: transparent;
  border: none;
  color: $color-primary;
  height: 100%;
  margin: 0 0.6rem;

  &Options {
    margin-right: 0;
  }

  &Burger {
    margin: 0 0.5rem;
  }

  &Icon {
    &__burger {
      height: 2rem;
    }

    &__newChat {
      // margin: 0 0.3rem;
      height: 2rem;
    }

    &__options {
      // margin: 0 0.7rem;
      height: 2rem;
    }

    width: auto;
  }
}

.contact {
  height: 7rem;
  max-width: 100%;
  display: flex;

  &__imageContainer {
    height: inherit;
    display: flex;
    align-items: center;
  }

  &__img {
    height: 70%;
    border-radius: 100%;
    padding: 1rem;
  }

  &__mainContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__left {
    align-self: center;
  }

  &__right {
    padding: 1.5rem 1rem;
  }

  &__name {
    margin: 0;
    font-size: 1.2rem;
  }

  &__message {
    margin: 0;
  }

  &__time {
    font-style: italic;
    font-size: $font-small;
  }
}
