@import "../sass_utilities/variables";
// @import "bootstrap";

.outsideContainer {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: #84d2e8;
  background: linear-gradient(
    90deg,
    rgba(132, 210, 232, 1) 0%,
    rgba(93, 190, 217, 1) 100%
  );
}

.bsContainer {
  margin: auto;
}

.card {
  box-shadow: 7px 10px 20px 11px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 7px 10px 20px 11px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 7px 10px 20px 11px rgba(0, 0, 0, 0.11);

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color: grey;
  width: 100%;
  max-width: 60rem;
  background-color: $color-secondary-bright;
  padding: 2rem;
  border-radius: 0;
  border: none;
}

.mainRow {
  margin-bottom: 2rem;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoImage {
  width: 100%;
  height: auto;
  max-height: 30rem;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__title {
    font-weight: $font-semibold;
    font-size: 2.9rem;
    align-self: flex-start;
    margin: 2rem 0 2rem 2.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: $color-text;
    font-size: $font-small;
  }

  &__resetPasswordLink {
    align-self: flex-end;
    margin-right: 2rem;
  }

  &__createAccountLink {
    align-self: center;
  }

  &__logoImage {
    width: 10rem;
  }

  &__button {
    background-color: $color-primary;
    border: none;
    color: $color-text-bright;
    font-weight: $font-semibold;
    color: $color-secondary-bright;
    padding: 0.6rem 4rem;
    border-radius: 60px;
    align-self: center;
    margin: 3.5rem 0 0.9rem 0;
  }
}

// @include media-breakpoint-down(lg) {
//   .card {
//     position: static;
//     min-height: 100vh;
//     padding: 0;
//     margin: 0;
//     position: absolute;
//     top: 0;
//     left: 0;
//     -ms-transform: translate(0, 0);
//     transform: translate(0, 0);
//   }

//   .logoImage {
//     width: 100%;
//     max-height: 40vh;
//   }
// }

// @include media-breakpoint-down(sm) {
//   .login__title {
//     margin-top: 0rem;
//   }
// }
