@import "../../sass_utilities/variables";

.button {
  background-color: transparent;
  display: flex;
  border: none;
  color: $color-primary;
  height: 100%;
  margin: 0 0.3rem;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.4rem;

  &Options {
    margin-right: 0;
  }

  &Icon {
    &__options {
      height: 1.7rem;
    }

    width: auto;
  }

  &:hover,
  &Pressed {
    background-color: $color-secondary-bright;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  display: block;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  z-index: 100;
  margin-top: 0.5rem;

  &__button {
    background-color: transparent;
    color: #333;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-weight: $font-semibold;

    white-space: nowrap;

    &:hover {
      background-color: #f0f0f0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
