// Montserrat font import
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap");

:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font-family: inherit;
}
