@use "../../sass_utilities/mixins" as mixins;
.video {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    position: relative;

}

.name{
    font-size: mixins.em(14);
    padding: 0.2rem;
    border-radius: 5px;
    position: absolute;
    font-weight: 600;
    bottom: 0;
    left: 0.5rem;
    color: white;
    background-color: rgba(46, 46, 46, 0.447);
    text-align: center;
    margin: 0.5rem 0;
}